@model Employee
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>


@Html.BeginForm("Add","Employee",FormMethod.Post)
{
@Html.TextBoxFor(a=>a.EmpId)
@Html.TextBoxFor(a=>a.EmpName)

<input type="submit" value="Add"  />
}

